<a href="https://colab.research.google.com/github/Maleniski/matriculados_sonora_lic_2021/blob/main/Tarea1_descarga_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center>
<p><img src="https://mcd.unison.mx/wp-content/themes/awaken/img/logo_mcd.png" width="150">
</p>



# Curso *Ingeniería de Características*

### Descargando datos


<p> Profesor Julio Waissman Vilanova </p>
<p> Estudiante María Elena Martínez Manzanares </p>
<p>
<img src="https://identidadbuho.unison.mx/wp-content/uploads/2019/06/letragrama-cmyk-72.jpg" width="150">
</p>


<a target="_blank" href="https://colab.research.google.com/github/mcd-unison/ing-caract/blob/main/ejemplos/integracion/python/descarga_datos.ipynb"><img src="https://i.ibb.co/2P3SLwK/colab.png"  style="padding-bottom:5px;" />Ejecuta en Google Colab</a>

</center>

Se importan las bibliotecas necesarias.

In [1]:
import os  # Para manejo de archivos y directorios
import urllib.request # Una forma estandard de descargar datos
# import requests # Otra forma no de las librerías de uso comun
import requests #para llamada a APIs
import json

import datetime # Fecha de descarga
import pandas as pd # Solo para ver el archivo descargado
import zipfile # Descompresión de archivos

# 1. Descarga de datos investigación personal.

Se baja información de los universitarios matriculados en Sonora y luego se complementa los datos descargados con información de estudiantes matriculados en licenciatura en la Universidad de Sonora.

In [2]:
# pwd
print(os.getcwd())

#  Estos son los datos que vamos a descargar y donde vamos a guardarlos
matriculados_unison_2021_url = "https://datamexico.org/api/data?Institution=2932&Year=2020,2021&cube=anuies_enrollment&drilldowns=Career,Year&locale=es&measures=Students&parents=true&sparse=false&growth=Year,Students"
matriculados_unison_2021_archivo = "matriculados_unison_2021.json"
matriculados_sonora_2021_url = "https://www.inegi.org.mx/contenidos/temas/areasgeograficas/infxentidad/Son/2022/06/6.17.xls"
matriculados_sonora_2021_archivo = "matriculados_licenciatura_sonora_2021.xls"
subdir = "./data/"

/content

In [3]:
if not os.path.exists(matriculados_sonora_2021_archivo):
    if not os.path.exists(subdir):
        os.makedirs(subdir)
    urllib.request.urlretrieve(matriculados_sonora_2021_url, subdir + matriculados_sonora_2021_archivo)  

    matricula_unison_2021 = requests.get(matriculados_unison_2021_url).json()

    with open(subdir + matriculados_unison_2021_archivo, "w") as outfile:
      json.dump(matricula_unison_2021, outfile)

    with open(subdir + "info_alumnos.txt", 'w') as f:
        f.write("Archivo que contiene datos de matriculados a nivel superior en Sonora durante el 2021\n")
        info = """
        Hay dos archivos principales. El primero contiene información de matriculados a nivel superior en Sonora separados por grado de estudio y otro \n
        contiene matriculados en la Universidad de Sonora separados por carrera. Información del 2021.

        """ 
        f.write(info + '\n')
        f.write("Descargado el " + datetime.datetime.now().strftime("%Y-%m-%d %H:%M:%S") + "\n")
        f.write("Desde: " + matriculados_unison_2021_url + "\n")
        f.write("Nombre: " + matriculados_unison_2021_archivo + "\n")
        f.write("Desde: " + matriculados_unison_2021_url + "\n")
        f.write("Nombre: " + matriculados_unison_2021_archivo + "\n")

Conclusión de la sección 1 de la tarea.

Se extrajeron dos tablas. La primera extraída de DataMexico que contiene los estudiantes matriculados en el 2021 la Universidad de Sonora  desglosado por departamento.

La segunda tabla es extraída del INEGI, y contiene la cantidad de estudiantes matriculados a nivel superior (licenciatura y posgrado a nivel Sonora).

El conocimiento que se desea extraer de estos datos es entender lo siguiente.


*   Proporción de estudiantes que estan inscritos a nivel licenciatura y posgrado en Sonora pertenecen a la Universidad de Sonora
*   Proporción de estudiantes que estan inscritos a nivel licenciatura y posgrado en Sonora pertenecen a la Universidad de Sonora. 

Esto permite cuantificar:

*   El interés de la población en estudiar en la Universidad de Sonora sobre otras universidades.
*   El interés de la población en estudiar en la Universidad de Sonora sobre otras universidades por degslose de carreras de la Unison.

Hay que aclarar que estos análisis quedan parciales debido a que se esta cuantificado utilizando cantidad de estudiantes matriculados y el interés poblacional debe considerar la cantidad de estudiantes que aplicaron a los respectivos programas educativos pero finalmente no lograron matricularse.

## 2. Descarga de datos personas desaparecidas

En este bloque se descarga la información de personas desaparecidas y se fragmenta una parte de la información en una sola tabla.

In [4]:
desaparecidos_RNPDNO_url = "http://www.datamx.io/dataset/fdd2ca20-ee70-4a31-9bdf-823f3c1307a2/resource/d352810c-a22e-4d72-bb3b-33c742c799dd/download/desaparecidos3ago.zip"
desaparecidos_RNPDNO_archivo = "desaparecidosRNPDNO.zip"
desaparecidos_corte_nacional_url = "http://www.datamx.io/dataset/fdd2ca20-ee70-4a31-9bdf-823f3c1307a2/resource/4865e244-cf59-4d39-b863-96ed7f45cc70/download/nacional.json"
desaparecidos_corte_nacional_archivo = "desaparecidos_nacional.json"
subdir = "./data/"

In [5]:
if not os.path.exists(desaparecidos_RNPDNO_archivo):
    if not os.path.exists(subdir):
        os.makedirs(subdir)
    urllib.request.urlretrieve(desaparecidos_RNPDNO_url, subdir + desaparecidos_RNPDNO_archivo)  
    with zipfile.ZipFile(subdir + desaparecidos_RNPDNO_archivo, "r") as zip_ref:
        zip_ref.extractall(subdir)
    
    urllib.request.urlretrieve(desaparecidos_corte_nacional_url, subdir + desaparecidos_corte_nacional_archivo)  

    with open(subdir + "info_desaparecidos.txt", 'w') as f:
        f.write("Archivos sobre personas desaparecidas\n")
        info = """
        Datos de desaparecidos, corte nacional y desagregación a nivel estatal, por edad, por sexo, 
        por nacionalidad, por año de desaparición y por mes de desaparición para los últimos 12 meses.

        Los datos se obtuvieron del RNPDNO con fecha de 03 de agosto de 2021 (la base de datos se actualiza constantemente) 

        """ 
        f.write(info + '\n')
        f.write("Descargado el " + datetime.datetime.now().strftime("%Y-%m-%d %H:%M:%S") + "\n")
        f.write("Desde: " + desaparecidos_RNPDNO_url + "\n")
        f.write("Nombre: " + desaparecidos_RNPDNO_archivo + "\n")
        f.write("Agregados nacionales descargados desde: " + desaparecidos_corte_nacional_url + "\n")
        f.write("Nombre: " + desaparecidos_corte_nacional_archivo + "\n")

In [6]:
df = pd.read_json('./data/desaparecidos_nacional.json')

Revisamos la tabla de desaparecidos.

In [9]:
df

,totales,espacial,anual,mensual_ultimo_anio,por_edad,por_nacionalidad
PorcentajeDesaparecidos,40.61,NaN,NaN,NaN,NaN,NaN
PorcentajeLocalizados,59.39,NaN,NaN,NaN,NaN,NaN
PorcentajeLocalizadosCV,93.39,NaN,NaN,NaN,NaN,NaN
PorcentajeLocalizadosSV,6.61,NaN,NaN,NaN,NaN,NaN
PorcentajeSoloDesaparecidos,90.57,NaN,NaN,NaN,NaN,NaN
PorcentajeSoloNoLocalizados,9.43,NaN,NaN,NaN,NaN,NaN
TotalDesaparecidos,90223.00,NaN,NaN,NaN,NaN,NaN
TotalGlobal,222181.00,NaN,NaN,NaN,NaN,NaN
TotalLocalizados,131958.00,NaN,NaN,NaN,NaN,NaN
TotalLocalizadosCV,123230.00,NaN,NaN,NaN,NaN,NaN
TotalLocalizadosSV,8728.00,NaN,NaN,NaN,NaN,NaN
TotalSoloDesaparecidos,81716.00,NaN,NaN,NaN,NaN,NaN
TotalSoloNoLocalizados,8507.00,NaN,NaN,NaN,NaN,NaN
Hombre,NaN,"{'AGUASCALIENTES': 1848, 'BAJA CALIFORNIA': 20...","{'1.CIFRA SIN AÑO DE REFERENCIA': 18923, '196...","{'2020-DICIEMBRE': 667, '2020-NOVIEMBRE': 842,...",NaN,NaN
Indeterminado,NaN,"{'AGUASCALIENTES': 3, 'BAJA CALIFORNIA': 5, 'B...","{'1.CIFRA SIN AÑO DE REFERENCIA': 332, '1964'...","{'2020-DICIEMBRE': 0, '2020-NOVIEMBRE': 0, '20...","{'0': 2, '1': 1, '10': 1, '104': 0, '109': 0, ...","{'AFGANA': 0, 'ALEMANA': 0, 'ARGENTINA': 0, 'A..."
Mujer,NaN,"{'AGUASCALIENTES': 2537, 'BAJA CALIFORNIA': 19...","{'1.CIFRA SIN AÑO DE REFERENCIA': 16356, '196...","{'2020-DICIEMBRE': 434, '2020-NOVIEMBRE': 613,...",NaN,NaN
Hombres,NaN,NaN,NaN,NaN,"{'0': 1387, '1': 675, '10': 646, '104': 3, '10...","{'AFGANA': 1, 'ALEMANA': 2, 'ARGENTINA': 18, '..."
Mujeres,NaN,NaN,NaN,NaN,"{'0': 1236, '1': 701, '10': 483, '104': 0, '10...","{'AFGANA': 0, 'ALEMANA': 2, 'ARGENTINA': 6, 'A..."

Hay mucha información colapsada en un solo registro a través de diccionarios. Se puede extraer nuevas tablas a partir de ahi. Por ejemplo, las que se presentan a continuación.

In [18]:
# Tabla de hombres desaparecidos por estado
pd.DataFrame(df.loc["Hombre"]["espacial"].items()).rename(columns={0: "Estado", 1: "Cantidad_Desaparecidos"}).set_index("Estado")

                     Cantidad_Desaparecidos
Estado
AGUASCALIENTES                         1848
BAJA CALIFORNIA                        2065
BAJA CALIFORNIA SUR                     583
CAMPECHE                                243
CHIAPAS                                1344
CHIHUAHUA                              8012
CIUDAD DE MEXICO                       5629
COAHUILA                               2964
COLIMA                                 2047
DURANGO                                1611
ESTADO DE MEXICO                      18082
GUANAJUATO                             7121
GUERRERO                               3663
HIDALGO                                1266
JALISCO                               15849
MICHOACAN                              4665
MORELOS                                1557
NAYARIT                                1221
NUEVO LEON                             5616
OAXACA                                 1465
PUEBLA                                 4338
QUERETARO                              1135
QUINTANA ROO                            880
SAN LUIS POTOSI                         654
SE DESCONOCE                            625
SINALOA                                8189
SONORA                                 4345
TABASCO                                 319
TAMAULIPAS                            11624
TLAXCALA                                116
VERACRUZ                               4719
YUCATAN                                2622
ZACATECAS                              2266

In [16]:
# Tabla de cantidad de mujeres desaparecidos por año.
pd.DataFrame(df.loc["Mujer"]["anual"].items()).rename(columns={0: "Año", 1: "Cantidad_Desaparecidos"}).drop([0]).set_index("Año")

      Cantidad_Desaparecidos
Año
1964                       0
1967                       0
1968                       1
1969                       0
1970                       0
1971                       0
1972                       6
1973                       2
1974                      15
1975                       7
1976                      10
1977                      10
1978                      14
1979                       4
1980                       1
1981                       5
1982                       2
1983                       2
1984                       0
1985                       2
1986                       2
1987                       0
1988                       2
1989                       4
1990                       2
1991                       1
1992                       6
1993                       3
1994                       3
1995                       7
1996                       8
1997                       1
1998                       7
1999                       5
2000                      11
2001                      28
2002                      47
2003                      41
2004                      46
2005                      66
2006                     242
2007                    1435
2008                    1305
2009                    1922
2010                    2204
2011                    4004
2012                    4186
2013                    7438
2014                    8448
2015                    6254
2016                    6336
2017                    6929
2018                    6474
2019                    7919
2020                    7740
2021                    3321

Conclusiones de la sección 2 de la tarea.

Podemos notar que la información de desaparecidos extraída de datamx tiene tres registros principales, las cuales es el renglón "Hombre", "Mujer" e "Indeterminado". Cada uno de estos renglones tiene información en columnas donde el contenido de cada celda es un diccionario suceptible a hacer una tabla.

Lo que considero que se podría hacer en esta situación, es crear una base de datos denominada "Desaparecidos", donde podamos crear una tabla para cada de estos renglones que contienen un diccionario. Se podría evaluar si es posible crear una base de datos relacionada para poder evaluar de distintos aspectos de esta información al mismo tiempo en una sola visualización.